<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/basestyle.css" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
	<div id="wrapper">
		<font color="FFFFFF">
		<div id="header"><h1>Salt-Swift Console     {% block path %}>Home{% endblock %}</h1></div>
		</font>
	    <div id="sidebar" align="left">
	        {% block sidebar %}
	        <ul>
	            <!--<li><a href="/index/">Home</a></li>-->
	            <li><a href="/server/">Server</a></li>
	            <li><a href="/cluster/">Cluster</a></li>
	            <li><a href="/monitor/">Monitor</a></li>
	        </ul>
	        {% endblock %}
	    </div>
	
	    <div id="content" align="center">
	        {% block content %}{% endblock %}
	    </div>
	    <div id="footer" align="right">
			<p><font color="FFFFFF">Copyright@cisco 2012</font></p>
		</div>
    </div>
</body>
</html>